<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>

        <payment>
            <!-- 连连支付通用配置（共享配置段） -->
            <mslpay_lianlian>
                <environment>sandbox</environment>
                <merchant_id/>
                <sub_merchant_id/>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <public_key/>
                <country>HK</country>
            </mslpay_lianlian>

            <!-- 连连支付 - 收银台模式 -->
            <mslpay_lianlian_checkout>
                <model>LLCheckoutFacade</model>
                <group>mslpay_lianlian</group>
                <title>LianLian Pay</title>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_refund>1</can_refund>
                <can_sale>0</can_sale>
                <can_initialize>0</can_initialize>
                <active>0</active>
                <order_status>payment_review</order_status>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <specificcountry/>
                <sort_order>70</sort_order>

            </mslpay_lianlian_checkout>

       
        </payment>

    </default>
</config>