<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--回调地址-->
    <preference for="LianLian\LLPay\Api\NotificationInterface" type="LianLian\LLPay\Model\Notification"/>
</config>
